body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

.center {
  padding-left: calc(50vw - 165px);
  padding-right: calc(50vw - 165px);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background: var(--main-text-color);
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 3px;
}

.ul-items {
  list-style: none;
  padding-left: 0;
}

.li-item {
  padding: 10px 0 10px 0;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}

